.contact-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    background: #f6f3f7;
    min-height: 80vh;
}

.contact-us-page .form-box {
    background: #E9C3E2 !important;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.contact-us-page .section-title {
    font-size: 1.1rem;
    font-weight: 540;
    margin-bottom: 1.5rem;
    color: white;
    background-color: #D76CE6;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.contact-us-page .form-box label {
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
    color: black !important;
    font-weight: 535;
    text-align: left;
}

.contact-us-page .form-box input, 
.contact-us-page .form-box textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    font-size: 12px;
}

.contact-us-page .btn-1 {
    background: #B03576 !important;
    color: white !important;
    border: none;
    padding: 12px 20px;
    border-radius: 8px; 
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 20%; 
}

.contact-us-page .btn-1:hover {
    background: #902a61 !important;
}

.contact-us-page .button-group {
    margin-top: 10px;
}