.feedback-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 28px;
    background: #f6f3f7; 
    min-height: 80vh;
}

.feedback-form {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.feedback-page .form-description {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 24px;
}

.feedback-page .form-box {
    background: #E9C3E2 !important; 
    padding: 24px;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin: 0 auto 24px auto;
    box-sizing: border-box;
}

.feedback-page .section-title {
    font-size: 1.1rem;
    font-weight: 540;
    margin-bottom: 1.5rem;
    color: white;
    background-color: #D76CE6; 
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.feedback-page .form-box label {
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
    color: black !important;
    font-weight: 535;
    text-align: left;
}

.feedback-page .form-box input, 
.feedback-page .form-box textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 6px; 
    font-size: 12px;
    background: white;
    box-sizing: border-box;
}

.feedback-page .btn-1 {
    padding: 10px 22px;
    border-radius: 10px;
    border: 1.5px solid white;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #B03576;
    text-transform: uppercase;
    transition: 0.3s;
}

.feedback-page .btn-1:hover {
    background: #7a2b7a !important;
}