.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #7b1fa2;
    width: 100%;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1000;
}

.logo-image {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-actions {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 22px;
    border-radius: 10px;
    border: 1.5px solid white;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #d81b60;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn:hover {
    background-color: #4a148c;
}

.signup-btn { }
.login-btn { }