.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #7b1fa2; /* තද දම් පැහැය */
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo-image {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-actions {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 8px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.signup-btn { background-color: #d81b60; }
.login-btn { background-color: transparent; border: 1px solid white; }