.registration-success-page {
    background-color: white;
    height: 100vh;       
    width: 100vw;         
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;        
    position: fixed;        
    top: 0;
    left: 0;
    z-index: 2000;           
}

.success-box-container {
    position: relative;
    width: 600px;             
    height: 450px;            
    background-color: #E9C3E2; 
   
    background-image: url('../assets/suscce_bi.png'); 
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3); 
}

.white-success-box {
    width: 380px;
    padding: 35px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
    text-align: center;
    z-index: 10;
}

.btn-ok {
    width: 100%;
    max-width: 250px;
    background: #B03576 !important;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-ok:hover {
    background: #902a61 !important;
    transform: scale(1.02);
}

.success-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #8A2BE2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}

.checkmark-symbol {
    font-size: 50px;
    color: #8A2BE2;
}

.success-title {
    font-size: 28px;
    color: black;
    margin-bottom: 10px;
}

.success-message {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}